<div class="row">
        <div class="col-md-6">
			<div class="box box-widget">
            <div class="box-header with-border">
              <div class="user-block">
                <img class="img-circle" src="<%= d.getTwitterAvatar() %>" alt="User Image">
                <span class="username"><a href="#"><%= d.reporterName %></a> - <%- d.getCategoryName() %> - <%- d.getStatusName() %></span>
                <span class="description">Denuncia Via Twitter - <%= d.date %></span>
              </div>
              <!-- /.user-block -->
             
              <!-- /.box-tools -->
            </div>

            <!-- /.box-header -->
            <div class="box-body">
              <!-- post text -->
              <p><%= d.text %></p>

              <p></p>
              <p></p>

              <%if (d.TweetPhoto !== null) { %>
                <img class="img-responsive pad" src="<%- d.TweetPhoto %>" alt="Photo">
       		 <% } %>  
              <!-- Attachment -->
            
              <!-- /.attachment-block -->

              <!-- Social sharing buttons -->
              <%if (d.Comentarios) { %>
              <div class="row">
	              <div class="col-xs-2">
	              	<button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Compartir</button>
	              </div>
	              <div class="col-xs-2">
	              	<button type="button" class="btn btn-default btn-xs"><i class="fa fa-heart"></i> Favorito</button>
	              </div>
	              <div class="col-xs-2">
		              <form method="POST" action="/update/denuncias/<%- d.id %>">
		              
		              <input type="hidden" class="form-control input-sm" value="1" name="status" >
		              <input type="hidden" class="form-control input-sm" value="<%- d.id %>" name="id" >
		              <button type="submit" class="btn btn-success btn-xs"> Abierta</button>
		              </form>
		            </div>
		            <div class="col-xs-2">
	              <form method="POST" action="/update/denuncias/<%- d.id %>">
	              
	              <input type="hidden" class="form-control input-sm" value="2" name="status" >
	              <input type="hidden" class="form-control input-sm" value="<%- d.id %>" name="id" >
	              <button type="submit" class="btn btn-warning btn-xs"> En Progreso</button>
	              </form></div>
	              <div class="col-xs-2">
	              <form method="POST" action="/update/denuncias/<%- d.id %>">
	              
	              <input type="hidden" class="form-control input-sm" value="3" name="status" >
	              <input type="hidden" class="form-control input-sm" value="<%- d.id %>" name="id" >
	              <button type="submit" class="btn btn-primary btn-xs bg-primary"> Cerrada</button>
	              </form></div>
	              <div class="col-xs-2">
	              <form method="POST" action="/update/denuncias/<%- d.id %>">
	              
	              <input type="hidden" class="form-control input-sm" value="4" name="status" >
	              <input type="hidden" class="form-control input-sm" value="<%- d.id %>" name="id" >
	              <button type="submit" class="btn btn-danger btn-xs bg-danger´pull-right"> No Aceptada</button>
	              </form></div>
              </div>
              <span class="pull-right text-muted"><%= d.Comentarios.length %> comentarios</span>

            </div>
            <!-- /.box-body -->
             
             <% for ( var comentarios=0; comentarios < d.Comentarios.length; comentarios++) { %>
            <div class="box-footer box-comments">
              <div class="box-comment">
                <!-- User image -->
                <img class="img-circle img-sm" src="<%= d.Comentarios[comentarios].photo %>" alt="User Image">

                <div class="comment-text">
                      <span class="username">
                        <%= d.Comentarios[comentarios].user %>
                        <span class="text-muted pull-right"><%= d.Comentarios[comentarios].createdAt %></span>
                      </span><!-- /.username -->
                  <%= d.Comentarios[comentarios].comment %>
                </div>
                <!-- /.comment-text -->
              </div>
              <!-- /.box-comment -->
              <!-- /.box-comment -->
            </div>
            <% } %> 
            <% } %>  
            <!-- /.box-footer -->
            <div class="box-footer">
              <form action="/comentarios/add" method="POST">
                <img class="img-responsive img-circle img-sm" src="<%= d.reporterPicture %>" alt="Alt Text">
                <!-- .img-push is used to add margin to elements next to floating images -->
                <div class="img-push">
                  <input type="text" class="form-control input-sm" placeholder="Escriba su comentario y presione Enter para enviar" name="comment" >
                </div>
                <input type="hidden" class="form-control input-sm" placeholder="Escriba su comentario y presione Enter para enviar" value="<%= d.reporterName %>" name="user" >
                <input type="hidden" class="form-control input-sm" placeholder="Escriba su comentario y presione Enter para enviar" value="<%= d.reporterPicture %>" name="photo" >
                <input type="hidden" class="form-control input-sm" placeholder="Escriba su comentario y presione Enter para enviar" value="<%= d.id %>" name="denuncias" >
              </form>
            </div>
            <!-- /.box-footer -->
          </div>
        </div> <!-- END MD6 -->
        <div class="col-md-6">
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-black" style="background: url('<%= d.profileBanner %>') center center;">
              <h3 class="widget-user-username"><%= d.reporterName %></h3>
              <h5 class="widget-user-desc">@<%= d.reporterHandle %></h5>
            </div>
            <div class="widget-user-image">
              <img class="img-circle" src="<%= d.getTwitterAvatar() %>" alt="User Avatar">
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">1</h5>
                    <span class="description-text">Denuncias</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header"><%= d.followersCount %></h5>
                    <span class="description-text">Seguidores</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header"><%= d.followingCount %></h5>
                    <span class="description-text">Seguidos</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
        </div>  
    </div> <!-- EN ROW -->          