<div class="row">
        <div class="col-md-6">
			<div class="box box-widget">
            <div class="box-header with-border">
              <div class="user-block">
                <img class="img-circle" src="<%= d.getTwitterAvatar() %>" alt="User Image">
                <span class="username"><a href="#"><%= d.reporterName %></a></span>
                <span class="description">Denuncia Via Twitter - <%= d.date %></span>
              </div>
              <!-- /.user-block -->
             
              <!-- /.box-tools -->
            </div>

            <!-- /.box-header -->
            <div class="box-body">
              <!-- post text -->
              <p><%= d.text %></p>

              <p><%- d.getCategoryName() %></p>

              <%if (d.TweetPhoto !== null) { %>
                <img class="img-responsive pad" src="<%- d.TweetPhoto %>" alt="Photo">
       		 <% } %>  
              <!-- Attachment -->
            
              <!-- /.attachment-block -->

              <!-- Social sharing buttons -->
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
              <span class="pull-right text-muted">45 likes - 2 comments</span>
            </div>
            <!-- /.box-body -->
            <div class="box-footer box-comments">
              <div class="box-comment">
                <!-- User image -->
                <img class="img-circle img-sm" src="/das15/dist/img/user3-128x128.jpg" alt="User Image">

                <div class="comment-text">
                      <span class="username">
                        Maria Gonzales
                        <span class="text-muted pull-right">8:03 PM Today</span>
                      </span><!-- /.username -->
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </div>
                <!-- /.comment-text -->
              </div>
              <!-- /.box-comment -->
              <div class="box-comment">
                <!-- User image -->
                <img class="img-circle img-sm" src="<%= d.reporterPicture %>" alt="User Image">

                <div class="comment-text">
                      <span class="username">
                        Nora Havisham
                        <span class="text-muted pull-right">8:03 PM Today</span>
                      </span><!-- /.username -->
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using
                  'Content here, content here', making it look like readable English.
                </div>
                <!-- /.comment-text -->
              </div>
              <!-- /.box-comment -->
            </div>
            <!-- /.box-footer -->
            <div class="box-footer">
              <form action="#" method="post">
                <img class="img-responsive img-circle img-sm" src="/das15/dist/img/user4-128x128.jpg" alt="Alt Text">
                <!-- .img-push is used to add margin to elements next to floating images -->
                <div class="img-push">
                  <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
                </div>
              </form>
            </div>
            <!-- /.box-footer -->
          </div>
        </div> <!-- END MD6 -->
        <div class="col-md-6">
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-black" style="background: url('<%= d.profileBanner %>') center center;">
              <h3 class="widget-user-username"><%= d.reporterName %></h3>
              <h5 class="widget-user-desc">@<%= d.reporterHandle %></h5>
            </div>
            <div class="widget-user-image">
              <img class="img-circle" src="<%= d.getTwitterAvatar() %>" alt="User Avatar">
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">1</h5>
                    <span class="description-text">Denuncias</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header"><%= d.followersCount %></h5>
                    <span class="description-text">Seguidores</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header"><%= d.followingCount %></h5>
                    <span class="description-text">Seguidos</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
        </div>  
    </div> <!-- EN ROW -->          